.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  position: relative;
  top: -8rem;
  margin: 0 auto;
  width: 46rem;
}

@media (max-width: 768px) {
  .main-content {
    min-width: 20.3125rem;
    max-width: 30rem;
    width: 80%;
  }
}
